<h1><%= params[:type].capitalize %> Record List</h1>

<div class="row">
  <div class="col text-start col-sm-3">
      <%= link_to "<< Back", root_path, class: "btn btn-secondary" %>
  </div>

  <div class="col text-mid row col-sm-6">
    <div class="col-sm-3"><%= label_tag :filter_by %></div>
    <div class="col-sm-4">
      <%= select_tag(:filter, options_for_select([["Name", "name"], ["Ratings"]]), {class: "form-select"}) %>         
    </div>
    <div class="col-sm-5"><%= text_field_tag :filter_value, '', class: "form-control" %></div>
  </div>

  <div class="col text-end col-sm-3">
    <%= link_to "Schedule Interview", new_interview_path, class: "btn btn-primary" %>
  </div>
</div>

<%= display_interviews_table(@list) %>
